
<form action='/teams' method='post'>

<h1>Create a Team and Heroes!</h1>
<input type="text" name="team['name']">
<input type="text" name="team['motto']">
<input type="text" name="team['members']['super1']['name']">
<input type="text" name="team['members']['super1']['power']">
<input type="text" name="team['members']['super1']['bio']">
<input type="text" name="team['members']['super2']['name']">
<input type="text" name="team['members']['super2']['power']">
<input type="text" name="team['members']['super2']['bio']">
<input type="text" name="team['members']['super3']['name']">
<input type="text" name="team['members']['super3']['power']">
<input type="text" name="team['members']['super3']['bio']">
<input type="submit" value="Save Changes">

</form>
